body {
	background-color: #aa4ead;
	color:white;
	text-align:center;
	font-family: 'Open Sans Condensed', arial, sans;
}

li a{
	color: white;
}

li a:hover{
	color: red;
}

a{
	color:white;
	text-decoration:none;
	
}


h2{
	
	
}

h2 a:hover{
	color:black;
	
}

.formu
{
	margin-left: 43%;
}

.claselist :hover{
	
	background-color: white;
}

.busc{
	background-color: white;
    border: none;
    color: #aa4ead !important;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.nuevoso{
	background-color: white;
    border: none;
    color: #aa4ead !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.nuevoso span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nuevoso span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.nuevoso:hover span {
  padding-right: 25px;
}

.nuevoso:hover span:after {
  opacity: 1;
  right: 0;
}