<html>
 
 <head>
 	<link rel="stylesheet" href="/css/estilos.css"/>
 	<meta charset="UTF-8">
 </head>
 <body>
 	<h1> Nuevo socio </h1>
 	<div class="formu">
 	<form action="/socios/nuevo/procesar">
 	<table>
 	<tr>
 	<td><label>Nombre</label></td>
  <td><input type="text" name="nombre"><br></td>
  </tr>
  <tr>
 	<td><label>Apellido</label></td>
  <td><input type="text" name="apellido"><br></td>
  </tr>
  <tr>
 	<td><label>Email</label></td>
  <td><input type="text" name="email"><br></td>
  </tr>
   <tr>
 	<td><label>DNI</label></td>
  <td><input type="text" name="dni"><br></td>
  </tr>
     <tr>
 	<td><label>Género</label></td>
  <td><input type="text" name="genero"><br></td>
  </tr>
     <tr>
 	<td><label>Fecha de nacimiento</label></td>
  <td><input type="date" name="fecha_de_nacimiento"><br></td>
  </tr>
     <tr>
 	<td><label>Celular</label></td>
  <td><input type="text" name="celular"><br></td>
  </tr>
     <tr>
 	<td><label>Teléfono</label></td>
  <td><input type="text" name="telefono"><br></td>
  </tr>
     <tr>
 	<td><label>Teléfono 2</label></td>
  <td><input type="text" name="telefono2"><br></td>
  </tr>
     <tr>
 	<td><label>Dirección</label></td>
  <td><input type="text" name="direccion"><br></td>
  </tr>
     <tr>
 	<td><label>Localidad</label></td>
  <td><input type="text" name="localidad"><br></td>
  </tr>
  <tr>
 	<td></td>
  <td><input type="submit" name="envio" value="Enviar" class="busc"><br></td>
  </tr>
	</table>
	</form>
	</div>
 </body>
</html>